<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Udac Casting Agency</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <div style="padding-top: 60px; padding-left:30px;">
        <div class="conatiner box">
            <h1 class="title">Udac-Casting-Agency</h1>
            <p>Please copy the jwt token below to interact with out apis.</p>
            <br />
            <div class="field">
                <div class="control">
                    <textarea class="textarea is-primary" id="Token" readonly>{{token}}</textarea>
                </div>
            </div>
            <br />
            <a class="button is-danger" href="/logout">Log Out</a>
            <body onload="getToken();">
        </div>
    </div>
    <script>
        function getToken() {
            const fragment = window.location.hash.substr(1).split('&')[0].split('=');
            if ( fragment[0] === 'access_token' ) {
                access_token = fragment[1];
                var token_field = document.getElementById("Token");
                token_field.value = access_token;
                token_field.select();
                document.execCommand("copy");
            }
        }

    </script>
</body>

</html>